body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #d8e27d, #fad0c4);
    font-family: Arial, sans-serif;
}

.card {
    background: rgb(161, 19, 212);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

button {
    padding: 10px 15px;
    border: none;
    background: #c4b942;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #ff2e3a;
}

img {
    width: 100%;
    margin-top: 20px;
    display: none;
    border-radius: 10px;
}
